### Load Your Libraries

In [ ]:
import pandas as pd  # injesting and transforming our raw data
import ast  # abstract syntax tree: convert strings to python object

### load the raw datasets

In [ ]:
customers = pd.read_csv("./Data/customers.csv")
offers = pd.read_csv("./Data/offers.csv")
events = pd.read_csv("./Data/events.csv")

### Data Exploration
* size of the data
* data type in the datasets
* find inconsistences in the datasets

In [ ]:
def dataset_size(dataframe,table_name):
    size = dataframe.shape
    row = size[0]
    column = size[1]
    print(f"{table_name} has {row} rows and {column} columns.")
    

dataset_size(customers,"customers")
dataset_size(offers,"offers")
dataset_size(events,"events")

In [ ]:
# customers

print(customers.dtypes)
customers.head()

In [ ]:
# offers
print(offers.dtypes)
offers.head()

In [ ]:
## Events
print(events.dtypes)
events.head()

### The Customer Table Transformation
* convert the 'became_memeber_on' column to a date type 
*filling the null values

In [ ]:
# convert to date column

customers["became_member_on"] = pd.to_datetime(customers['became_member_on'],format ="%Y%m%d")

In [ ]:
## fill in missing values in the gender and income columns
customers['income'] = customers['income'].fillna(0.0)

## Assignment :fill the missing values for gender with 'unspecified'

customers['gender'] = customers['gender'].fillna('unspecified')

### Offers Table Transformation

* transform the channels data to a list object.
* extract the offer_id and channels columns
* explode the channels columns to satisfy the 1NF
* remove the channels columns in the offers tables to satisfy 2NF

In [ ]:
offers['channels'] = offers['channels'].apply(ast.literal_eval)

In [ ]:
## Create a junction table

offers_channels = offers [["offer_id","channels"]]
offers_channels

In [ ]:
offers_channels = offers_channels.explode('channels')
offers_channels

In [ ]:
offers_transformed = offers.drop(columns=['channels'])
offers_transformed

### Events Table Transformations

In [ ]:
# convert the values from a string to a dictionary

events['value'] = events['value'].apply(ast.literal_eval)

In [ ]:
values_info = pd.json_normalize(events['value'])
values_info

In [ ]:
# clean up the  value info 

if 'offer id' in values_info.columns:
    values_info['offer_id'] = values_info['offer_id'].fillna(values_info
    ['offer id'])
    values_info = values_info.drop(columns =['offer id'])
else:
    print('no such columns')  

values_info

In [ ]:
events_transformed = events.drop(columns=['value'])
events_transformed = pd.concat([events_transformed,values_info],axis = 1)   # merged two tables together
events_transformed

### Assignment
* fill the null values in the amount and the reward columns with 0.0
* convert the time column to datetime object

In [ ]:


events_transformed['amount'] = events_transformed['amount'].fillna(0.0)
events_transformed['reward'] = events_transformed['reward'].fillna(0.0)
#events_transformed["time"]= pd.to_datetime(events_transformed['time'],format ="%Y%m%d")

In [ ]:
events_transformed

In [ ]:
pd.to_timedelta(events_transformed['time'],unit='h')

#### Load the data directly to the database

In [129]:
# import the libraries for database connection

import psycopg2
import sqlalchemy
import yaml # store our database credentials

#### Create a connection to the database : the engine!

In [130]:
with open('config.yaml','r') as file: # loading the database credentials
    config = yaml.safe_load(file)

    host = config.get('host')
    user = config.get('user')
    db = config.get('database')
    password = config.get('password')
    port = config.get('port')

In [131]:
db_url = sqlalchemy.URL.create(
            drivername ="postgresql+psycopg2",  #driver
            username=config['user'],
            password=config['password'],
            host=config.get('host',"localhost"),
            port=config.get('port',5432),
            database=config['database']
        )
engine =  sqlalchemy.create_engine(db_url)
print(engine)

Engine(postgresql+psycopg2://postgres:***@localhost:5433/postgres)

#### Push to the database

In [ ]:
customers.to_sql('customers',engine, if_exists='replace',index=False)

offers_transform.to_sql('offers',engine, if_exists='replace',index=False)

offers_channels.to_sql('offers_channels',engine, if_exists='replace',index=False)

events_transformed.to_sql('events',engine, if_exists='replace',index=False)

534

In [136]:
print(events_transformed)

                             customer_id           event  time  amount  \
0       78afa995795e4d85b5d9ceeca43f5fef  offer received     0    0.00
1       a03223e636434f42ac4c3df47e8bac43  offer received     0    0.00
2       e2127556f4f64592b11af22de27a7932  offer received     0    0.00
3       8ec6ce2a7e7949b1bf142def7d0e0586  offer received     0    0.00
4       68617ca6246f4fbc85e91a2a49552598  offer received     0    0.00
...                                  ...             ...   ...     ...
306529  b3a1272bc9904337b331bf348c3e8c17     transaction   714    1.59
306530  68213b08d99a4ae1b0dcb72aebd9aa35     transaction   714    9.53
306531  a00058cf10334a308c68e7631c529907     transaction   714    3.61
306532  76ddbd6576844afe811f1a3c0fbb5bec     transaction   714    3.53
306533  c02b10e8752c4d8e9b73f918558531f7     transaction   714    4.05

                                offer_id  reward
0       9b98b8c7a33c4b65b9aebfe6a799e6d9     0.0
1       0b1e1539f2cc45b7b9fa7c272da2e1d7     0.0
2       2906b810c7d4411798c6938adc9daaa5     0.0
3       fafdcd668e3743c1bb461111dcafc2a4     0.0
4       4d5c57ea9a6940dd891ad53e9dbe8da0     0.0
...                                  ...     ...
306529                               NaN     0.0
306530                               NaN     0.0
306531                               NaN     0.0
306532                               NaN     0.0
306533                               NaN     0.0

[306534 rows x 6 columns]

In [138]:
df=pd.read_csv("Data/events.csv")
df

,customer_id,event,value,time
0,78afa995795e4d85b5d9ceeca43f5fef,offer received,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'},0
1,a03223e636434f42ac4c3df47e8bac43,offer received,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'},0
2,e2127556f4f64592b11af22de27a7932,offer received,{'offer id': '2906b810c7d4411798c6938adc9daaa5'},0
3,8ec6ce2a7e7949b1bf142def7d0e0586,offer received,{'offer id': 'fafdcd668e3743c1bb461111dcafc2a4'},0
4,68617ca6246f4fbc85e91a2a49552598,offer received,{'offer id': '4d5c57ea9a6940dd891ad53e9dbe8da0'},0
...,...,...,...,...
306529,b3a1272bc9904337b331bf348c3e8c17,transaction,{'amount': 1.5899999999999999},714
306530,68213b08d99a4ae1b0dcb72aebd9aa35,transaction,{'amount': 9.53},714
306531,a00058cf10334a308c68e7631c529907,transaction,{'amount': 3.61},714
306532,76ddbd6576844afe811f1a3c0fbb5bec,transaction,{'amount': 3.5300000000000002},714
306533,c02b10e8752c4d8e9b73f918558531f7,transaction,{'amount': 4.05},714